{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">

  <section class="mt50">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/model_2006/1.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/3.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/1.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/14.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/18.jpg" />
            </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
        </li>

  </section>


  <section class="text-right">
    <div class="container mt0">
    <h1 class="product-description">Product Description</h1>
    <p class="model">Model 630 Airport Light</p>
    <p class="part-number">Part # 98-63001R</p>
    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Two spring type 6-volt industrial grade batteries will power
            the flashing light for 9 months.</li>
          <li>Output at center from 1.2 to 2.5 candelas (optional
            increased outputs available upon request).</li>
          <li>Easily change between steady burn or flashing mode with
            3-way switch.</li>
          <li>Available in Amber color lens.</li>
          <li>Yellow base is standard, other colors available upon
            request.</li>
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

