{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">

  <section class="mt50">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/airport_lighting/model630/Model630SolarAirportLight1.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/airport_lighting/model630/Model630SolarAirportLight2.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/airport_lighting/model630/Model630SolarAirport Light3.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/airport_lighting/model630/Model630Solar AirportLight4.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>



  </section>




  <section class="text-right">
    <div class="container mt0">
    <h1 class="product-description">Product Description</h1>
    <p class="model">Model 630 Solar Airport Light</p>
    <p class="part-number">Part # 98-64005AR</p>
    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>LiFePO4 rechargeable batteries will last for years before
            requiring replacement.</li>
          <li>Ability to change from steady burn or flashing mode with the
            three-way switch.</li>
          <li>Output of 4.3 to 7 Candela in steady burn mode at center and
            10 to 18 Candela in flashing mode with 55-75 FPM.</li>
          <li>Unit comes with standard barricade style base housing but
            has the screw-on option to use with any standard 2” pipe
            thread adapter.</li>
          <li>Battery life: 5 years on one LifePO4 rechargeable battery.</li>
          <li>Available in Amber color lens.</li>
          <li>Yellow base is standard, other colors available upon request.</li>
        </ul>
    </div>
  </section>



</div>


{% endblock content %}