{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">

  <section class="mt50">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/model_2006/1.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/3.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/1.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/14.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/model_2006/18.jpg" />
            </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
        </li>

  </section>


        <li class="nav-dots">
          <label for="img-1" class="nav-dot" id="img-dot-1"></label>
          <label for="img-2" class="nav-dot" id="img-dot-2"></label>
          <label for="img-3" class="nav-dot" id="img-dot-3"></label>
          <label for="img-4" class="nav-dot" id="img-dot-4"></label>
          <label for="img-5" class="nav-dot" id="img-dot-5"></label>
        </li>
    </ul>

  <section class="text-right">
    <div class="container mt0">
    <h1 class="product-description">Product Description</h1>
    <p class="model"> Model 2006</p>
    <p class="part-number">Part # 99-02006, 99-02006R</p>
    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Type A, C and 3-way, 3-volt high efficiency lights.</li>
          <li>Impact absorbing breakaway candles reduces internal
            damage.</li>
          <li>Light can be operated using two or four D-cell batteries.</li>
          <li>Battery life: 6-7 months on 4 alkaline D-cell batteries.</li>
          <li>Meets current MUTCD and I.T.E standards tested by an
            approved certified laboratory.</li>
          <li>Available in Red color lens.</li>
          <li>Yellow base is standard, other colors available upon
            request.</li>
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

