{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">



  <section class="mt50">
    
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/akt/traffic_lenses/Amber_Yellow_Traffic_Lense.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/traffic_lenses/Amber_Yellow_Traffic_Lense1.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/traffic_lenses/Clear_Traffic_Lense.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/traffic_lenses/Green_Traffic_Lense(1).jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/traffic_lenses/Red_Traffic_Lense _(1).jpg" />
            </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
        </li>

    </section>



  <section class="text-right">
    <div class="container mt0">
        
        <h1 class="product-description mb60">Product Description</h1>
            
      
    <p class="model"> Butyl Pads for Pavement Markers</p>
    <p class="part-number"></p>
    
    <div class="container flex-row space-between">
        
        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">
    </div>
    

    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>It is a rubber based sealant formulated to be used on
            pavement markers.</li>
          <li> Made of select asphaltic material blended with
            mineral filler. </li>
            <li>It is permanently flexible, non-shrinking, extremely
                water resistant, impact resistant, and fast setting.</li>
            <li> Will adhere to any cleaned and dried surface, no clean
                up or special tools needed. </li>
            <li>Available in two sizes, special sizes available upon
                request.</li>
            <li> A: 4”X4”</li>
            <li> B: 8”X8”</li>
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

