{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">

  <section class="mt50">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/akt/No18Center/AmberAKTNo18CenterMountDelineator.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/No18Center/GreenAKTNo18CenterMountDelineator.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/No18Center/BlueAKTNo.18CenterMountDelineator(1).jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/No18Center/RedAKTNo18CenterMountDelineator.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/akt/No18Center/ClearAKTNo18CenterMountDelineator.jpg" />
            </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
        </li>

  </section>


  <section class="text-right">
    <div class="container mt0">
    <h1 class="product-description">Product Description</h1>
    <p class="model">No. 18 Center Mount Delineator </p>
    <p class="part-number">Part # No. 18</p>
    <div class="container flex-row space-between">
        
        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">
    </div>
    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Exceeds all federal delineator photometric standards. Thousands of six-point prisms givesuperior
            reflectability, providing an extra margin of safety.</li>
          <li>Excellent visibility, even in rain, fog, sleet, and snow.</li>
          <li>Ultrasonic welding permanently seals the reflector to the backing keeping out water, dirt, and dust for
            maximum reflectivity.</li>
          <li>Size: 3 1⁄4”</li>
          <li>Effective Reflex Area: 7 sq. in.</li>
          <li>Reflector Material: Methyl methacrylate.</li>
          <li>Available in plastic back or aluminum backing.</li>
          <li>Available in Amber, clear, red, green, blue</li>
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

