{% extends 'base.html' %}


{% block content %}


<div class="wrapper product-line"> 
    <div class="mt80 mb40"><h1>Airport Lighting</h1></div>
    <div class="cols mb100">
        
        <a href="{{ url_for('model_630_solar') }}">
              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/airport_lighting/model630/Model630SolarAirportLight1.jpg)">
                          <div class="inner">
                              <p>Model 630</p>
                <span>Solar Airport Light</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Part # 98-64005AR</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>

              

              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model2006D_Cell_Solar_Assist') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/airport_lighting/solarD2006/2006DCellSolarAssistAirportLight1.jpg)">
                          <div class="inner">
                              <p>Model 2006 D</p>
                <span>Solar Assist</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Part # 99-L3-0600, 99-L3-0600R, Solar Assist99-L3-0600S,
                                99-L3-0600SR</p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
          
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model601_solar_airport_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/airport_lighting/solar601/Model601SolarAirportLight1.jpg)">
                          <div class="inner">
                              <p>Model 601</p>
                <span>Solar Airport</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Part # 98-60100</p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
               

          </div>
   </div>




{% endblock content %}