{% extends 'base.html' %}


{% block content %}

<section class="text--center grad-neutral">
    <div class="container">
        <h1 class="grad-heading">Highway Lighting</h1>
        <p>We have ALL your lighting needs covered<p>
    </div>
</section>

<div class="wrapper product-line"> 
    <h1>Highway Lighting</h1>
    <div class="cols">
        <a href="{{ url_for('model_630') }}">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/15.jpg)">
                          <div class="inner">
                              <p>Model 630</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Part # 98-63001R</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>
          
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>No. 18 Center</p>
                <span>Mount Delineator</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Part # No. 18</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/95.jpg)">
                          <div class="inner">
                              <p>567 Guardrail</p>
                <span>Delineator</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Part # 567-1 (single side), 567-2 (double side)</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/101.jpg)">
                          <div class="inner">
                              <p>Bituminous Pavement</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Marker Adhesive</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Butyl Pads</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>for Pavement Markers</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Concrete Barrier Wall Marker</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Part # JD-1 (single side), JD-2 (double side)</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Acirassi</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Sohanidd</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
   </div>




{% endblock content %}