{% extends 'base.html' %}


{% block content %}


<div class=" pinside50 whitesmoke heading-container"> 
    <h1 class="  heading-container mission-title ">Highway Lighting</h1>
</div>
        




<div class="wrapper product-line"> 
    <div class="mt80 mb40"><h1>Model 2006</h1></div>
    <div class="cols mb100">

            <!-- Model 2006 -->
    
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model2006') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/model2006/Model2006_1.jpg)">
                            <div class="inner">
                                <p>Model 2006</p>
                        <span>Base Model</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                            <p>Part # 99-02006, 99-02006R</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        <!-- MODEL 2006 + Solar Assist -->

        <a href="{{ url_for('model2006plus_solar_assist') }}">
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(/static/highway/2006solarplus/Model2006SolarAssist3.jpg)">
                        <div class="inner">
                            <p>Model 2006+</p>
                    <span>Solar Assist</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Part # 99-02006+, 99-02006R+</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>



            <!-- MODEL 2006 S Solar  -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('S_solar_2006') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/highway/S_Solar_model2006/Model2006SSolar1.jpg)">
                                <div class="inner">
                                    <p>Model 2006 S</p>
                            <span>Solar</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                <p>Part # 99-0206SOLAR</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Model 2006 D -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('model2006d') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/highway/2006AmberD-Light.jpg)">
                                <div class="inner">
                                    <p>Model 2006D</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                <p>Part # 99-L3-0600, 99-L3-0600R, 99-L3-0600S, 99-L3-0600SR
                                </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>






    <div class="wrapper  product-line"> 
        <div class="mb40 mt100"><h1>Model 212-3</h1></div>
    <div class="cols mb100">

            <!--  Model 212-3LW -->
            
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('M212_3LW') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/M212-3LW/Model212-3LW.jpg)">
                            <div class="inner">
                                <p>Model 212-3LW</p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 98-81089-3, 98-81089-3R</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <!-- Model 212-3 S Solar Assist -->
            
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('model212_3_S_solar_assist') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/highway/S_solar212-3/Model212-3SSolarAssist2.jpg)">
                                <div class="inner">
                                    <p>Model 212-3S</p>
                            <span>Solar Assist</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 98-81089-3S, 98-81089-3RS</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- Model 212-3 Solar -->
    
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('model212_3_solar') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/highway/model212-3_solar/Model212-3Solar.jpg)">
                                <div class="inner">
                                    <p>Model 212-3</p>
                            <span>Solar</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                <p>Part # 98-81089SOLR, 98-81089RSLR</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="wrapper  product-line"> 
                    <div class="mb40 mt100"><h1>Sequential Lights</h1></div>
                <div class="cols mb100">
        
        
        
                    <!--  Wireless Channelizing Sequential Device -->
        
                    <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                        <a href="{{ url_for('sequential_device') }}">
                            <div class="container">
                                <div class="front" style="background-image: url(/static/highway/Wireless_channeling/Wireless2ChannelizingSequentialDevice.jpg)">
                                    <div class="inner">
                                        <p>Wireless Channelizing</p>
                                <span>Sequential Device</span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Part # 98-2012SMONO, 98-2012SSMON (Solar Assist)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
        








        <div class="wrapper  product-line"> 
            <div class="mb40 mt100"><h1>Model 400</h1></div>
        <div class="cols mb100">


            <!--  Model Model 400 LED PC -->
            
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('LED_PC') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/highway/LED_PC_model_400/Model400LEDPC1.jpg)">
                                <div class="inner">
                                    <p>Model 400</p>
                            <span>LED PC</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 99-00411L, 99-00421L(Red Lens)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            <!-- audible Device model 400 ADA -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('audible_device_model_400_ADA') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/audible_device_ADA/Model400ADA3.jpg)">
                            <div class="inner">
                                <p>Model 400 ADA</p>
                        <span>Audible Device</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 98-01930</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- audible Device model 400 ADA -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('audible400ml') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/Model400ML-2ADADEVICE.jpg)">
                            <div class="inner">
                                <p>Model 400ML-2</p>
                        <span>Audible Device</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 98-10920</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('standaloneflarelight') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/standaloneflare/StandaloneFlareLight2.jpg)">
                            <div class="inner">
                                <p>Model 400 </p>
                        <span>Standalone Flare Light</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        <div class="wrapper  product-line"> 
            <div class="mb40 mt100"><h1>Strobe Lights</h1></div>
        <div class="cols mb100">

            <!-- audible Device model 400 ADA -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('strobeseries7400') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/Model7400StrobeLight.jpg)">
                            <div class="inner">
                                <p>Model 7400 </p>
                        <span>Strobe Light</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- audible Device model 400 ADA -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('strobeseries7401') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/Model7401StrobeLight.jpg)">
                            <div class="inner">
                                <p>Model 7401</p>
                        <span>Strobe Light</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>






    <div class="wrapper  product-line"> 
        <div class="mb40 mt100"><h1>Mounting Brackets and Battery Holders</h1></div>
    <div class="cols mb100">



            <!-- Center Mounting Bracket -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('center_mounting_bracket') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/mounting_brackets/center/CenterMountingBracket_1.jpg)">
                            <div class="inner">
                                <p>Center</p>
                        <span>Mounting Bracket</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 1276</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <!-- Z Mounting BRACKET -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('ZMountingBracket') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/mounting_brackets/z/ZMountingBracket.jpg)">
                            <div class="inner">
                                <p>Z</p>
                        <span>Mounting Bracket</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 1277</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- LEFT side Mounting Bracket  -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('left_MountingBracket') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/mounting_brackets/left/LeftSideMountingBracket2.jpg)">
                            <div class="inner">
                                <p>Left Side</p>
                            <span>used for right lane closure</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 1278R</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <!-- RIGHT side mounting bracket -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('right_MountingBracket') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/mounting_brackets/right/RightSideMountingBracket1.jpg)">
                            <div class="inner">
                                <p>Right Side</p>
                            <span>used for left lane closure</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 1278R</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>




            <!-- battery adapter -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('batteryadapter') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/mounting_brackets/batteryadapter/6-VoltBatteryAdapter.jpg)">
                            <div class="inner">
                                <p>D-cell Battery Adapter for 6-Volt (BH-6V)</p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 01-01806
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="wrapper  product-line"> 
                <div class="mb40 mt100">
                    <h1>Portable Speed Bumps</h1>
                    <p class="text-center" >Available in 10' and 20' in </p>
                </div>
            <div class="cols mb100">
    
    
            <!-- 10 -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('portable10') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/portablespeedbumps/10PortableSpeedBump.jpg)">
                            <div class="inner">
                                <p>10’ Portable Speed Bump</p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 97-40000</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- 20 -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('portable20') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/highway/portablespeedbumps/20PortableSpeedBump.jpg)">
                            <div class="inner">
                                <p>20’ Portable Speed Bump</p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 97-40002</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    




            </div>
            </div>
            </div>
            </div>
   </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

  

{% endblock content %}