{% extends 'base.html' %}


{% block content %}


<div class="wrapper product-line"> 
    <div class="mt80 mb40"><h1>Marine Lighting</h1></div>
    <div class="cols mb100">
        
        <a href="{{ url_for('model400_led_mooring_light') }}">
              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/mooring_light/Model400LEDMooringLight3.jpg)">
                          <div class="inner">
                              <p>LED Mooring Light</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Model 400</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>
          
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('barge_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/barge_light/BargeLightGreen.jpg)">
                          <div class="inner">
                              <p>Barge Light</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
              


            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('load_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/load_light/LoadLight1.jpg)">
                          <div class="inner">
                              <p>Load Light</p>
                                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
            


              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('solar_dredge_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/solar_dredge_light/SolarDredgeLightClear1.jpg)">
                          <div class="inner">
                              <p>Dredge Light</p>
                        <span>Solar</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Model 100</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>


              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('dredge_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/dredge_light/DredgeLightClear.jpg)">
                          <div class="inner">
                              <p>Dredge Light</p>
                    <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Model 100</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>

              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('pilot_location_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/marine/PLL/PilotLocationLight.jpg)">
                          <div class="inner">
                              <p>Pilot Location Light</p>
                    <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Model 100</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>

          </div>
   </div>




{% endblock content %}