{% extends 'base.html' %}


{% block content %}


<div class="wrapper product-line"> 
    <div class="mt80 mb40"><h1>Marine Lighting</h1></div>
    <div class="cols mb100">
        
        <a href="{{ url_for('model_630_solar') }}">
              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/15.jpg)">
                          <div class="inner">
                              <p>Model 400</p>
                <span>LED PC</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Part # 99-00411L, 99-00421L(Red Lens)</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>
          
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model_630_solar') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p></p>
                <span>Barge Light</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
              


            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model601_solar_airport_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/95.jpg)">
                          <div class="inner">
                              <p></p>
                                <span>Load Light</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
            


              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model601_solar_airport_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/101.jpg)">
                          <div class="inner">
                              <p></p>
                <span>Dredge Light</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>


              <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('model601_solar_airport_light') }}">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p></p>
                <span>PLL</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p></p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>

          </div>
   </div>




{% endblock content %}