{% extends 'base.html' %}


{% block content %}

<div class="wrapper lighting-type"> 
    <h1>Airport Lighting</h1>
    <div class="cols">
        <a href="{{ url_for('model_630') }}">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/15.jpg)">
                          <div class="inner">
                              <p>Model 630</p>
                <span></span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Part # 98-63001R</p>
                          </div>
                      </div>
                  </div>
                </a>
              </div>
          
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Rocogged</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/95.jpg)">
                          <div class="inner">
                              <p>Strizzes</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/101.jpg)">
                          <div class="inner">
                              <p>Clossyo</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Rendann</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Reflupper</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Acirassi</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(/static/56.jpg)">
                          <div class="inner">
                              <p>Sohanidd</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
   </div>




{% endblock content %}