{% extends 'base.html' %}


{% block content %}

<div class=" pinside50 whitesmoke heading-container"> 
    <h1 class="  heading-container mission-title ">Railroad Lighting</h1>
</div>

<div class="wrapper product-line"> 
    <div class="mt80 mb40"><h1>Blue Flag Lights</h1></div>
<div class="cols mb100">
        
        <div class="product-col" ontouchstart="this.classList.toggle('hover');">
            <a href="{{ url_for('blue_flag_light') }}">
                <div class="container">
                    <div class="front" style="background-image: url(/static/railroad/BlueFlagLight.jpg)">
                        <div class="inner">
                            <p>Blue Flag Light</p>
                <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
          
        <div class="product-col" ontouchstart="this.classList.toggle('hover');">
            <a href="{{ url_for('blue_flag_strobe_light') }}">
                <div class="container">
                    <div class="front" style="background-image: url(/static/railroad/BlueFlagStrobeLight.jpg)">
                        <div class="inner">
                            <p>Blue Flag Strobe Light</p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Available With Handle</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}