{% extends 'base.html' %}


{% block content %}


<div class="wrapper product-line"> 
    <div class="mt80 mb40">Railroad Lighting</h1></div>
    <div class="cols mb100">
        
        <div class="product-col" ontouchstart="this.classList.toggle('hover');">
            <a href="{{ url_for('traffic_signal_lenses') }}">
                <div class="container">
                    <div class="front" style="background-image: url(/static/akt/traffic_lenses/Amber_Yellow_Traffic_Lense.jpg)">
                        <div class="inner">
                            <p>Blue Flag Light</p>
                <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
          
        <div class="product-col" ontouchstart="this.classList.toggle('hover');">
            <a href="{{ url_for('no18CenterMountDelineator') }}">
                <div class="container">
                    <div class="front" style="background-image: url(/static/akt/No18Center/AmberAKTNo18CenterMountDelineator.jpg)">
                        <div class="inner">
                            <p>Blue Flag Strobe Light</p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}