@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&family=Open+Sans:wght@600&family=PT+Sans:wght@400;700&family=Roboto&display=swap');

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0; 
    -webkit-box-sizing: border-box;
}


/* Defaults */
:root {
    --black: hsl(1, 1%, 3%);
    --white: hsl(1, 1%, 97%);
    --font: 'PT Sans', sans-serif;
    --font-alt: 'Lato', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    background: var(--white);
    color: var(--black);
    font-family: var(--font);
  }


/* navbar */


#nav-logo{
    display: image-fluid; 
    max-width: 200px; 
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

/* Hide Dropdowns by Default */
nav ul ul {
	/* display: none; */
	position: absolute;  
	top: 20px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    color: #222831;
    text-decoration: none;
	display: none;
	position: absolute; 

    font-size: 17px;
}



/* First Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }

.navbar{
    background:white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

.navbar li{
    float: left;
    list-style-type: none;
}

.navbar li a{
    color: rgba(0, 0, 0, 0.506);
    text-decoration: none;
    padding: 10px 20px;
    margin: 2px;
    transition: .5s linear;
    font-size: 17px;
}

.navbar li a:hover{
    background: #f2e74b; 
    color: black;  
    border-radius: 50px;
}



.topBar .toggle{
    display: none;
    /* border-radius: 5px; */
}

@media (max-width: 740px) {
    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .navbar li{
        float: none;
        margin: 30px;
        animation: slide .5s linear 1;
    }

    @keyframes slide {
        0%{
            transform: translateX(50px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

    .navbar li a{
        font-size: 20px;
    }

    .navMenu{
        background: #161a20;
        width: 100%;
        margin-top: 30px;
        border-radius: 10px;
        display: none;
    }

    .topBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .topBar .toggle{
        font-size: 30px;
        display: block;
        color: #eee;
    }
}



/* Footer  */


footer ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #D9D9D9;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color:#F29F05; 
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: black; 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}

.cta-text p{
    color: #757575;
    font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  margin-right: 10px; 
}
.footer-social-icon span {
  color: black; 
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'open sans', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: black; 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #F29F05; 
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover{
  color:#F29F05;; 
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #D9D9D9; 
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #F29F05; 
    padding: 13px 20px;
    border: 1px solid #F29F05; 
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: black;   
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #F29F05; 
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #F29F05; 
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/* INDEX PAGE */



/* 1.  */
/* HERO IMAGE  */
/* Lighting Types: AIRPORT , HIGHWAY, MARINE, RAILROAD  */


.accordion {
    width: 100%;
    height: 50%; 
    overflow: hidden;
  }
  
  .accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
  }
  
  .accordion .accordion-item:hover {
      display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 60%;
    height: 18rem; 
    background-repeat: no-repeat;
    transition: all 500ms ease;
  }  
    
    
  .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 25%;
    height: 300px;
    background-repeat: no-repeat;
    transition: all 500ms ease;
  }
  
  .accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  
  .accordion ul li div a {
    display: block;
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 0px 0px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: 'roboto', serif;
    transition: all 200ms ease;
    background: rgba(255, 254, 254, 0.4);
  }
  
  .accordion ul li div a * {
    opacity: 0%;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis; 
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  
  .accordion ul li div a h2 {
    font-family: 'pt sans', sans-serif;
    text-overflow: clip;
    font-size: 2rem; 
    word-spacing: 0px;
    text-transform: uppercase; 
    margin-bottom: 3rem;
    top: 1rem; 
    background-color:white;   
    padding: 2rem 2rem;
    color: black; 
  }
  
  .accordion ul li div a p {
    top: 3rem;  
    font-size: 3rem;
  }
  
      
  .accordion ul li:nth-child(1) { background-image: url("/static/airport_lighting/104.jpg"); background-position: center center; background-size:cover;}
  
  .accordion ul li:nth-child(2) {  background-image: url("/static/1.jpg"); background-position: center center; background-size:cover;}
  
  .accordion ul li:nth-child(3) {  background-image: url("/static/95.jpg"); background-position: center center; background-size:cover;}
  
  .accordion ul li:nth-child(4) { background-image: url("/static/78.jpg"); background-position: top right; background-size:cover;}
  
  
  .accordion ul:hover li { width: 15%; }
  
  .accordion ul:hover li:hover { width: 30%; }
  
  .accordion ul:hover li:hover a { background: rgba(255, 254, 254, 0.146); } 
  
  .accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background: rgba(255, 254, 254, 0.4);
    color: black; 
  }


  /* Why People choose us  */

  .subheading{
    font-style: italic;
    font-size: 23px;
    color:rgba(0, 0, 0, 0.501);
    margin-top: 20px;   
  }

  .our-structure{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,231,75,1) 100%);
  }


/* ABOUT  */








  /* PRODUCT LINE  */

  .wrapper h1{
    font-size: 2.5rem;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
   .wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .product-line .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .product-line .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .product-line .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .product-line .front,
  .product-line .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      min-width: 280px; 
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .product-line .back{
    background: #F2CB05;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#F2CB05 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#F2CB05 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#F2CB05 100%);
  }
  
  .product-line .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: rgba(0, 0, 0, 0.264);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .product-line .container:hover .front,
  .product-line .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .product-line .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .product-line .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .product-line .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .product-line .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .product-line .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .product-line .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .product-line .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .product-line .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .product-line .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .product-line .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .product-line .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .product-line .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

/* PRODUCT DESCRIPTION */

.product-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px; 
}

.model{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px; 
}

.part-number{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: gray; 
}

.specification{
  font-family: 'Roboto', sans-serif;
  font-weight:800;
}

.specifications{
  font-family: 'Roboto', sans-serif; 
}

.right {
  position: absolute;
  right: 10px;
  border: none; 
  padding: 10px;
  opacity: 60%; 
}



  /* Contact Container */

  .contact-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "open sans", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: white; 
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(236, 116, 10, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #F29F05;  
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px; 
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: black; 
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

  .grid{
      display: grid; 
      grid-template-columns: 1fr 1fr; 
  }

  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

  .meetteam{
    
    font: 400 24px 'Open Sans', sans-serif;
    text-align:center;
    width:60%;
    margin:10px auto 50px auto;
    text-transform: uppercase;
  }
  
  .meetteam:after{
    content:'';
    display:table;
    position: absolute;
    background-color:#a5a5a3;
    width:100px;
    height:1px;
    bottom:-30px;
    left:50%;
    margin-left:-50px;
    color:red;
    right:0;
  }
  
  .meetteam > h2{
    font-weight:bold;
  }
  
  .meetteam > span{
    font: italic 400 18px 'Open Sans', sans-serif;
    text-align:center;
    color:#a5a5a3;
  }
  
  .profile-card{
    margin-bottom:60px;
    text-align:center;
    webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    transition: all .5s;
    
  }
  
  .profile-card:hover{
    webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  
  .profile-card > img {
    width:150px;
    height:150px;
    display:block;
    margin:0 auto;
    border-radius:100%;
    transition: all .5s;
  }
  

  
  .profile-card > div{
    display:table;
    text-align:left;
    margin:0 auto;
    width:150px;
    
    transition: all .5s;
  }
  
  .profile-card:hover > div{
    display:table;
    transition:all .5s;
    text-align:left;
    margin:0 auto;
    width:150px;
    position:relative;
    padding-left:25px;
  }
  
  .profile-card > div > h2,
  .profile-card > div > h3{
    font: 400 12px 'Open Sans', sans-serif;
    position:relative;
    margin:0;
    color:#212121;
    white-space:nowrap;
  }
  
  .profile-card > div > h2{
    font-weight: 700;
    margin:10px 0 3px 0;
    transition:all .5s;
  }
  
  .profile-card:hover > div > h2{
    color:#F29F05; 
  }


    /* TEST */
  
.flex-row{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}




  .complimentary{
    text-transform: uppercase;
    color: black;  
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.8982186624649859) 0%, rgba(242,231,75,1) 80%);
    margin: 0px;
    padding: 20px;  
  }

  
    
    /*----------------
    margin space
    -----------------*/
    .uppercase{
      text-transform: uppercase;
    }
    .mb0 { margin-bottom: 0px; }
    .mb10 { margin-bottom: 10px; }
    .mb20 { margin-bottom: 20px; }
    .mb30 { margin-bottom: 30px; }
    .mb40 { margin-bottom: 40px; }
    .mb60 { margin-bottom: 60px; }
    .mb80 { margin-bottom: 80px; }
    .mb100 { margin-bottom: 100px; }
    .mt0 { margin-top: 0px; }
    .mt10 { margin-top: 10px; }
    .mt20 { margin-top: 20px; }
    .mt30 { margin-top: 30px; }
    .mt40 { margin-top: 40px; }
    .mt60 { margin-top: 60px; }
    .mt80 { margin-top: 80px; }
    .mt100 { margin-top: 100px; }

    .mr50 {margin-right: 50px;}
    
    /*----------------
    less margin space from top
    -----------------*/
    .mt-20 { margin-top: -20px; }
    .mt-40 { margin-top: -40px; }
    .mt-60 { margin-top: -60px; }
    .mt-80 { margin-top: -80px; }
    
    /*---------------
    Padding space
    -----------------*/
    .nopadding { padding: 0px; }
    .nopr { padding-right: 0px; }
    .nopl { padding-left: 0px; }
    .pinside10 { padding: 10px; }
    .pinside20 { padding: 20px; }
    .pinside30 { padding: 30px; }
    .pinside40 { padding: 40px; }
    .pinside50 { padding: 50px; }
    .pinside60 { padding: 60px; }
    .pinside80 { padding: 80px; }
    .pdt10 { padding-top: 10px; }
    .pdt20 { padding-top: 20px; }
    .pdt30 { padding-top: 30px; }
    .pdt40 { padding-top: 40px; }
    .pdt60 { padding-top: 60px; }
    .pdt80 { padding-top: 80px; }
    .pdb10 { padding-bottom: 10px; }
    .pdb20 { padding-bottom: 20px; }
    .pdb30 { padding-bottom: 30px; }
    .pdb40 { padding-bottom: 40px; }
    .pdb60 { padding-bottom: 60px; }
    .pdb80 { padding-bottom: 80px; }
    .pdl10 { padding-left: 10px; }
    .pdl20 { padding-left: 20px; }
    .pdl30 { padding-left: 30px; }
    .pdl40 { padding-left: 40px; }
    .pdl60 { padding-left: 60px; }
    .pdl80 { padding-left: 80px; }
    .pdr10 { padding-right: 10px; }
    .pdr20 { padding-right: 20px; }
    .pdr30 { padding-right: 30px; }
    .pdr40 { padding-right: 40px; }
    .pdr60 { padding-right: 60px; }
    .pdr80 { padding-right: 80px; }

    
    /*---------------
    Section Space
    
    * Section space help to create top bottom space. 
    *
    -----------------*/
    .section-space20 { padding-top: 20px; padding-bottom: 20px; }
    .section-space40 { padding-top: 40px; padding-bottom: 40px; }
    .section-space60 { padding-top: 60px; padding-bottom: 60px; }
    .section-space80 { padding-top: 80px; padding-bottom: 80px; }
    .section-space100 { padding-top: 100px; padding-bottom: 100px; }
    .section-space120 { padding-top: 120px; padding-bottom: 120px; }
    .section-space140 { padding-top: 140px; padding-bottom: 140px; }
    
    /*-----------------------------------------
    Background & Block color 
    ------------------------------------------*/
    .grad-primary{
      color: black;  
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,0.8982186624649859) 0%, rgba(242,231,75,1) 80%); 
    }
    .grad-neutral{
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(198,196,192,0.8085828081232493) 100%);
    }
    .grad-heading{
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(170,169,168,1) 100%);
      text-transform: uppercase;
      padding: 20px;  
    }
    .bg-light { background-color: black; color: white;  }
    .neutral-primary{background-color: whitesmoke; color: black;}
    .bg-primary { background-image: linear-gradient(15deg, #F2F2F2 0%, #f2e74b 150%); }
    .bg-default { background-color: white; color: black; }
    .bg-white { background-color: #fff; }
    .outline { border: 1px solid white;  }
    .small-title { font-size: 14px; color: #f2e74b; font-weight: 500; }
    .big-title { font-size: 36px; font-weight: 600; color: white; }
    .capital-title { text-transform: uppercase; font-size: 36px; font-weight: 600; color: black; }
    .bdr-btm { }
    .green-text { }
    .bg-boxshadow { -webkit-box-shadow: 0px 4px 16px 3px rgba(230, 216, 136, 0.5); -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, .5); box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, .5); }
    
    
    /*--------------------------------
     Service-img
    ---------------------------------*/
    .service-img-box { transition: box-shadow .5s; }
    .service-img-box:hover { -webkit-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1); -moz-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1); box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1); }
    .service-img { position: relative; }
    .service-content { }
    .service-content>h2 { margin-bottom: 0px; }
    .circle { background-color: #e3f0fe; width: 60px; height: 60px; border: 1px solid #F2E205; border-radius: 100px; color: #F2B705;; margin: -70px auto 40px auto; padding: 10px; text-align: center; line-height: 1.7; }
    .number { font-size: 24px; font-weight: 500; }
    .number-block { text-align: center; }
    .number-title { margin-bottom: 20px; }
    
    


    /* TEST */

    .hero-section{
        align-items: flex-start;
        background-image: white; 
        display: flex;
        min-height: 100%;
        justify-content: center;
        padding: 2rem;
      }
      
      .card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        max-width: var(--width-container);
        width: 100%;
      }
      
      @media(min-width: 540px){
        .card-grid{
          grid-template-columns: repeat(2, 1fr); 
        }
      }
      
      @media(min-width: 960px){
        .card-grid{
          grid-template-columns: repeat(4, 1fr); 
        }
      }
      
      .card{
        list-style: none;
        border: none; 
        position: relative;
      }
      
      .card:before{
        content: '';
        display: block;
        padding-bottom: 150%;
        width: 100%;
      }
      
      .card__background{
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
      }
      
      .card:hover .card__background{
        transform: scale(1.05) translateZ(0);
      }
      
      .card-grid:hover > .card:not(:hover) .card__background{
        filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
      }
      
      .card__content{
        left: 0;
        padding: 1rem;
        position: absolute;
        top: 0;
      }
      
      .card__heading{
        color: white; 
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
        line-height: 1.4;
        word-spacing: 100vw;
      }

      .hero-section :root{
        --background-dark: #747745;
        --text-light: rgba(255,255,255,0.6);
        --text-lighter: rgba(255,255,255,0.9);
        --spacing-s: 8px;
        --spacing-m: 16px;
        --spacing-l: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 64px;
        --width-container: 1200px;
      }

/* test */

a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }

  

  
  header {
    color: white;
    background: #F2CA80; 
    padding: 10rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  @media (max-width: 43.75em) {
    header {
      padding: 2rem 0;
    }
  }
  header h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
  }
  @media (max-width: 43.75em) {
    header h1 {
      font-size: 2rem;
    }
  }
  header h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }
  @media (max-width: 43.75em) {
    header h2 {
      font-size: 1.5rem;
    }
  }
  
  section {
    background: #fff;
    color: #1c262b;
    padding: 3.5rem 0;
  }
  @media (max-width: 43.75em) {
    section {
      padding: 2rem 0;
    }
  }
  section.section--primary {
    background: #F2E74B;
    color: #fff;
  }

  section.section--dark{
    background:rgba(0, 0, 0, 0.927); 
    color: white; 
  }

  section.section-white{
    background: white; 
    color: black; 
  }

  section.section--primary--alt {
    background:#f2e74bd6;
    color: black; 
    border: none;  
  }
  section.section--primary--light {
    background: rgba(0, 126, 206, 0.1);
  }
  section.section--grey {
    background: #1c262b;
    color: #fff;
  }
  section.section--grey--light {
    background: #29363e;
    color: #fff;
  }
  section h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem;
  }
  @media (max-width: 43.75em) {
    section h3 {
      font-size: 1.5rem;
    }
  }
  section li {
    font-size: 1.2rem;
    font-weight: 300;
  }
  section p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  .col, .col-5, .col-3, .col-7 {
    margin: 0 1.5%;
    display: inline-block;
    vertical-align: top;
  }
  
  .col-7 {
    width: 64%;
  }
  @media (max-width: 43.75em) {
    .col-7 {
      width: 100%;
      margin: 0;
    }
  }
  
  .col-3 {
    width: 29%;
  }
  @media (max-width: 43.75em) {
    .col-3 {
      width: 100%;
      margin: 0;
    }
  }
  
  .col-5 {
    width: 30%;
  }
  @media (max-width: 34.375em) {
    .col-5 {
      width: 60%;
      margin: 0;
    }
  }
  
  .details {
    text-align: left;
  }
  .details h3 {
    font-size: 2rem;
    text-align: left;
  }
  
  @media (max-width: 43.75em) {
    .details-img--ball {
      height: 200px;
      width: auto;
      margin: 0 auto;
    }
  }
  
  .features {
    text-align: center;
    padding: 1rem;
  }
  .features:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  @media (max-width: 43.75em) {
    .features {
      width: 100%;
      margin: 0;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .features:last-child {
      border: none;
    }
  }
  .features i {
    font-size: 4rem;
    margin: 0 0 2rem 0;
  }
  @media (max-width: 43.75em) {
    .features i {
      font-size: 1.5rem;
      width: 2rem;
      text-align: center;
      margin: 0 0 1rem 0;
      float: left;
    }
  }
  .features p {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  @media (max-width: 43.75em) {
    .features p {
      margin-left: 3rem;
    }
  }
  
  blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  blockquote:before {
    display: inline-block;
    color: #007ece;
    font-size: 2rem;
    content: "“";
  }
  blockquote p {
    margin: 0;
    display: inline;
    font-size: 1.5rem;
  }


@media (max-width: 43.75em) {
  blockquote p {
    font-size: 1.2rem;
  }
}
blockquote cite {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0 0 1.2rem;
  text-style: italic;
}
@media (max-width: 43.75em) {
  blockquote cite {
    font-size: 0.8rem;
  }
}
blockquote cite:before {
  content: "–";
}

.text--center {
    text-align: center;
  }
  
  .text--left {
    text-align: left;
  }
  
  .bg-image {
    background: #F2B705; 
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .bg-image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #F2CA80 url("http://orbotix.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/Faster-4H5B55491.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    opacity: 0.8;
    transform: scale(1.1);
  }
  .bg-image.bg-image-2:before {
    opacity: 0.6;
    background-image: url("http://orbotix.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/Kids3.jpg");
    background-position: center center;
  }







.benefits{
	height:250px;
	margin-top: 5%;
	color:black;
}
.benefits h4{
	font-weight:bold;
}
.b1{
	text-align: center;
}




.btn {
    min-width: 200px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    border: 2px solid #222;
    padding: 0.3rem 1.2rem;
    text-transform: capitalize;
    color: inherit;
    transition: 0.4s;
  }
  
  .btn:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #f2e74b;
  }

  .btn-1{
    border: 2px solid white;
    background: white;
    color: black; 
    text-transform: uppercase; 
  }

  .btn-1:hover{
    background: #f2e74bc6;
    border: none; 
    color: white; 
  }
  
  .col-50,
  .col-90 {
    width: 100%;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mt-1{
    margin-top: 1rem;
  }
  
  .mb-2{
    margin-bottom: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .col-50 {
      flex-basis: 50%;
    }
  }
  
  /*remove block and see change at bottom*/
  #process img {
    display: block;
    width: 90%;
    height: 100vh;
    object-fit: cover;
  }


    article {
    padding: 0 2.5rem;
  }
  
  #process h1 {
    font-size: 3rem;
    font-family: 'Merriweather'; 
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  #process h2 {
    font-size: 1.5rem;
    font-family: 'lato'; 
    letter-spacing: .5rem;
    margin-bottom: 5rem;
    padding-left: 5rem; 
  }
  
  p{
    line-height: 1.8;
  }








  .slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}