{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">

  <section class="mt50">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/highway/audible_device_ADA/Model400ADA3.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/highway/audible_device_ADA/Model400ADAAudibleDevice.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/highway/audible_device_ADA/Model400ADAAudibleDevice2.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/highway/audible_device_ADA/Model400ADAAudibleDevice3.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>



  </section>




  <section class="text-right">
    <div class="container mt0">
    <h1 class="product-description">Product Description</h1>
    <p class="model">Model 400 ADA Audible Device</p>
    <p class="part-number">Part # 98-01930</p>
    <p class="specification">Specification:</p>
      
        <ul class="specifications">
            <li>The ADA is an audible information device that can be
                mounted on various safety devices like the Safety Wall. </li>
                <li>Easily record and program up to a sixty second message
                with built-in microphone and speaker. </li>
                <li>Customize messages for each location. When routes are
                blocked or there are alternate crossings, these units provide
                positive guidance for the visually impaired by offering
                necessary audible information. </li>
                <li>Powered by two six volt batteries installed in the base of the
                barricade light housing. </li>
                <li>Unit is triggered by a motion detector when pedestrians get
                within fifteen feet of the housing. </li>
                <li>Volume adjusts automatically with ambient noise. </li>
                <li>Yellow base is standard, other colors available upon request. </li>
        </ul>
    </div>
  </section>



</div>


{% endblock content %}