{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">



  <section class="mt50">
    
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/highway/Wireless_channeling/Wireless2ChannelizingSequentialDevice.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/highway/Wireless_channeling/Wireless3ChannelizingSequentialDevice.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/highway/Wireless_channeling/WirelessChannelizingSequentialDevice1.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>


    </section>



  <section class="text-right">
    <div class="container mt0">
        
        <h1 class="product-description mb60">Product Description</h1>
            
      
    <p class="model">Wireless Channelizing Sequential Device</p>
    <p class="part-number">Part # 98-2012SMONO, 98-2012SSMON (Solar Assist)</p>
    
    <div class="container flex-row space-between">
        
        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">
    </div>
    

    <p class="specification">Specification:</p>
      
        <ul class="specifications">
            <li> The devices are lit continuously, with a momentary flash that
                sequences through the series of lights.</li>
                
                <li> Advanced warning helps to decrease vehicle speed and
                increase driver compliance in nighttime work zones.</li>
                
                <li> Greatly increases early taper merges, studies also show
                increased cost benefits and effectiveness for improving
                safety in nighttime work zones.</li>
                
                <li> Steady burn mode Meets current MUTCD and I.T.E standards
                tested by an approved certified laboratory.</li>
                
                <li> Devices are synchronized via “Mesh” network using 2.4 GHz
                RF controlled circuits not requiring them to be in “eye sight”
                of each other and communicate up to 1,000 feet from each
                other automatically positioning themselves in the correct
                sequence.</li>
                
                <li> Offered in solar and non-solar options.</li>
                
                <li> Yellow base is standard, other colors available upon request.</li>
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

