{% extends 'base.html' %}


{% block content %}

  
<div class="accordion">
    <ul>
        <li>
        <div><a href="{{ url_for('airport_lighting') }}">
            <h2>Airport Lighting</h2>
            </a></div>
        </li>
        <li>
        <div> <a href="{{ url_for('marine_lighting') }}">
            <h2>Marine Lighting</h2>
            </a> </div>
        </li>
        <li>
        <div> <a href="{{ url_for('railroad_lighting') }}">
            <h2>Railroad Lighting</h2>
            </a> </div>
        </li>

        <li>
        <div> <a href="{{ url_for('highway_construction_lighting') }}">
            <h2>Construction Lighting</h2>
            </a> </div>
        </li>
        
    </ul>
</div>
  


<section class="about-us sec-padd">

<!-- MISSION STATEMENT -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                
                <div class="text">
                    <h1>Our Mission</h1>
                    <p>The mission of Empco-Lite is to fully satisfy the expectations of our customers by 
                    producing the highest quality products on time, each and everytime, 
                    through the use of effective teamwork, employee involvement,
                    and a dedication to excellence in everything we do with a view of continuous improvement.</p>
                </div>
            </div>
        </div>
    </div>
</section>

       <!-- Our Products -->

       <section class="grad-primary bg-boxshadow ">
        <div class="container">
            <div class="grid-background-none">

                <div id=product-index-container>
                    We Offer  
                    <div id=flip>
                    <div><div>Airport Lights</div></div>
                    <div><div>Construction Lights</div></div>
                    <div><div>Marine Lights</div></div>
                    <div><div>Barge Lights</div></div>
                    </div>
                    And More!  

                    <div><a href="{{ url_for('product_line') }}" class="btn-2">View Products</a></div>

                </div>


                
                <div class="index-products">
                    

                    <div class="wrapper">
                        <div class="box blury-card" >
                            <img 
                            src="/static/marine/load_light/LoadLight.jpg
                            " alt="img">
                            <div class="frame">
                                <h2>High Quality</h2>
                                <p>High Performance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text--center">
                        </div>
                    
                    <div class="col-7 details">

                        
                    </div>
                </div>
                

                </div>

            
        
            <div class="container flex-row  mt80 ">
                    <p class="pdr40"></p>
                    <p class="pdr40">Barricade Lights</p>
                    <p class="pdr40">Reflectors</p>
                    <p class="pdr40">Mounting Brackets</p>
                    <p class="pdr40">Mooring Lights</p>
                    <p class="pdr40">LED Construction Lights</p>
                    <p class="pdr40">Portable Construction Lights</p>
                    <p class="pdr40">Blue Flag Lights</p>
                    <p class="pdr40">Solar Airport Lights</p>
                    <p class="pdr40">Barge Lights</p>
                    <p class="pdr40">ADA Devices</p>
            </div>
        </div>
    </section>


                <!-- WOMAN-OWNED Business -->
  <section class="section--dark text-center pinside80">
    <div class="about-container">
        <div>
            <h1>Proud to be a Woman-Owned Business!</h1>
            <img  class="" src="/static/woman-icons-03.png" height="20%" width="20%">
        </div>
    </div>
</section>




<!-- FEATURED PRODUCT  -->

    <div class="grid">

        <section class=" grad-neutral mt50">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
                <img src="/static/highway/2006solarplus/Model2006SolarAssist3.jpg" />
                </div>
            <div class="nav">
                <label for="img-6" class="prev">&#x2039;</label>
                <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>
    
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/static/highway/2006solarplus/Model2006solarAssist1.jpg" />
                </div>
            <div class="nav">
                <label for="img-1" class="prev">&#x2039;</label>
                <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>
    
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/static/highway/2006solarplus/Model2006SolarAssist.jpg" />
                </div>
            <div class="nav">
                <label for="img-2" class="prev">&#x2039;</label>
                <label for="img-4" class="next">&#x203a;</label>
            </div>
            </li>
    
        </section>


    
        <section class="grad-neutral">
        <div class="container mt0">
            <h1 class="product-description">Featured Product</h1>
            <h1 class="mb30">Model 212-3S Solar Assist</h1>
            <img class="mr100" id="nav-logo" src="/static/made-in-usa-stamp.png" height="50%" width="50%">
            <a href="{{ url_for('model212_3_S_solar_assist') }}" class="btn btn-outline mt20">View Product</a> 
        </div>
        
        
            
            <ul class="mt100 pdr80">
                <li>Internal solar panels trickle charge D-cell Alkaline batteries
                    to give a superior long lasting more reliable power source.</li>
                <li>Battery life: 19-20 months on 4 alkaline D-cell batteries.</li>
                <li>Yellow base is standard, other colors available upon
                    request.</li>
        
            </ul>
        </div>
        </section>
  </div>



      <!-- SPONSORSHIPS -->

      <section class="text--center">
        <div class="about-container ">
         <div class="grid ">
            <div class="flex-row">
                <h2 class="medium-title">Our Commitment</h2>
                <h2 class="capital-title pinside50 product-line-container">To Safety on the Roads</h2>
            </div>
            <p class="pinside50">Empco-Lite is honored to be recognized as an industry leader in Safelty, Innovation, and Leadership. We are proud members of National Highway Safety Administration, American Traffic Safety Services Association, Flasher Barricade Association, and the Transportation Safety Equipment Institute.  </p>


        </div>
            <div class="grid-4">
                <img src="/static/memberships/memberships-03.png" height="20%" width="20%">
                <img src="/static/memberships/memberships-04.png" height="20%" width="20%">
                <img src="/static/memberships/memberships2-01.png" height="20%" width="20%">
                <img src="/static/memberships/memberships2-02.png" height="20%" width="20%">
            </div>
        </div>
    </section>








    <div class="big-image-quality">
        <div class="overlay-product-line">
            <div class="product-line-container">
                <h1 class="uppercase">Quality with Integrity</h1>
                <a href="{{ url_for('process') }}" class="btn-3">Learn More</a>
            </div>

        </div>
    </div>
  






   










{% endblock content %}