{% extends 'base.html' %}


{% block content %}


<section id="process">
  <div class="row align-items-center">
    <div class="col-50">
      <img src="/static/plant_pictures/IMG_7468_Fotor.jpg" alt="image">
    </div>
    <div class="col-50">
      <article>
        
        <h2 class="">Privacy Policy</h2>
          <p>Empco-Lite understands and respects your need for privacy while conducting business online.</p>
          <p>Some website areas, such as our contact form, give you the opportunity to leave basic personal/company information. If you send an e-mail to us, or fill out our "Contact" form through Empco-Lite, we will collect your e-mail address and the full content of your e-mail, including attached files, and other information you provide.This is used only to help us identify your specific concerns or queries and, as necessary, to give us the opportunity to contact you.</p>  
          <p> </p>      
      </article>
    </div>
  </div>
</section>






{% endblock content %}