{% extends 'base.html' %}


{% block content %}


<section id="process">
  <div class="row align-items-center">
    <div class="col-50">
      <img src="/static/plant_pictures/IMG_7461_Fotor.jpg" alt="image">
    </div>
    <div class="col-50">
      <article>
        
        <h2>The Empco-Lite Process</h2>
          <p>Here at Empco-Lite, we strive to be the best. We have been leaders in the industry since the 1960s. We started out in the construction lighting industry and since then have expanded our product lines into the marine lighting, airport lighting, and railroad lighting industries. Whether it's anything from barricade lighting to barge lighting and everything in between, Empco-Lite assures its customers they will receive the highest quality products and the best customer service. All of our products are proudly made and assembled in America. </p>
          <p>All of our plastic products come from our injection molding division Elgin Molded Plastics, a custom injection molder that produces top-quality products since 1949. Elgin Molded Plastics has performed all kinds of custom molding jobs and can handle jobs of any size, and are always looking to add new business. Their facility is equipped with injection molding presses ranging in size from 85 tons to 760 tons, equipped with wide platens, and robots.</p>  
          <p>We have another division AKT Reflectors that specializes in reflectors and guardrail delineators. AKT has been supplying construction companies, departments of transportation, and any other highway safety companies looking for highway safety solutions. </p>  
          <p>For all your construction lighting products choose Empco-Lite. </p>      
      </article>
    </div>
  </div>
</section>






{% endblock content %}