{% extends 'base.html' %}


{% block content %}


<section id="process">
    <div class="row align-items-center">
      <div class="col-50">
        <img src="/static/pexels-kateryna-babaieva-2880871.jpg" alt="image">
      </div>
      <div class="col-50">
        <article>
          <h1>"Old World"</h1>
          <h2>Skilled Labor</h2>
            <p>Our tool makers have years of experience founded on the principles learned in the tradition of "Old World" apprenticeship and training. 
            These tool makers also utilize CNC and EDM technology to produce quality injection molds. With their backgrounds in mold construction and exceptional pride in their work, our people have gained respect and earned a reputation of knowing the expertise required to meet the demand of our customers.
            </p>          
        </article>
      </div>
    </div>
  </section>






{% endblock content %}