{% extends 'base.html' %}


{% block content %}

<div class="big-image-product-line">
  <div class="overlay-product-line">
      <div class="product-line-container">
          <h1>Product Line</h1>
          <h3>Timeless Products With A Fine Regard For Detail</h3>
      </div>
  </div>
</div>


<section class="hero-section">

    <div class="card-grid mt80">
      <h2 class="medium-title">Your Lighting Needs are Covered</h2>

      <a class="card" href="{{ url_for('highway_construction_lighting') }}">
        <div class="card__background" style="background-image: url(/static/pexels/pexels-ave-calvar-martinez-4705093.jpg)"></div>
        <div class="card__content">
          
          <h3 class="card__heading">Highway Lighting</h3>
        </div>
      </a>
      
      <a class="card" href="{{ url_for('airport_lighting') }}">
        <div class="card__background" style="background-image: url(/static/pexels/pexels-igor-starkov-761981.jpg)"></div>
        <div class="card__content">
          
          <h3 class="card__heading">Airport Lighting</h3>
        </div>
      </a>
      <a class="card" href="{{ url_for('railroad_lighting') }}">
        <div class="card__background" style="background-image: url(/static/pexels/pexels-trace-hudson-2365701.jpg)"></div>
        <div class="card__content">
          
          <h3 class="card__heading">Railroad Lighting</h3>
        </div>
      </a>

      <a class="card" href="{{ url_for('marine_lighting') }}">
        <div class="card__background" style="background-image: url(/static/pexels/pexels-albin-berlin-906982.jpg)"></div>
        <div class="card__content">
          
          <h3 class="card__heading">Marine Lighting</h3>
        </div>
      </a>

    
</section>







{% endblock content %}