{% extends 'base.html' %}


{% block content %}

<section class="text--center bg-primary">
    <div class="about-container">
        <h1>Product Line</h1>
        <p>From the clouds in the sky to depths of the ocean, we have your lighting needs covered</p>
    </div>
</section>


<section class="hero-section">
    <div class="card-grid">
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/pexels-igor-starkov-761981.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Flying</p>
          <h3 class="card__heading">Airport Lighting</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/pexels-trace-hudson-2365701.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Transportation</p>
          <h3 class="card__heading">Railroad Lighting</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/pexels-ave-calvar-martinez-4705093.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Construction</p>
          <h3 class="card__heading">Highway Lighting</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/pexels-ben-mack-5326990.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Water</p>
          <h3 class="card__heading">Marine Lighting</h3>
        </div>
      </li>
    </div>
</section>





{% endblock content %}