{% extends 'base.html' %}


{% block content %}


<section id="process">
  <div class="row align-items-center">
    <div class="col-50">
      <img src="/static/plant_pictures/IMG_7462_Fotor.jpg" alt="image">
    </div>
    <div class="col-50">
      <article>
        
        <h2>Terms of Use</h2>
          <p>Empco-Lite understands and respects your need for privacy while conducting business online.</p>
          <p>All information supplied to us will be held in confidence. None of your information will be transferred or sold to any third party. </p>  
          <p> </p>      
      </article>
    </div>
  </div>
</section>






{% endblock content %}