{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">



  <section class="mt50">
    
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/marine/barge_light/PLLAndBargeLight.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/barge_light/BargeLightGreen.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/barge_light/BargeLightRed.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/barge_light/BargeLightWhite.jpg" />
            </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/barge_light/BargeLightYellow.jpg" />
            </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
        </li>

    </section>



  <section class="text-right">
    <div class="container mt0">
        
        <h1 class="product-description mb60">Product Description</h1>
            
      
    <p class="model">Barge Light </p>
    <p class="part-number">Part # 98-23400, 98-23400L, 98-23400LM, 98-23400M, 98-23400R, 98-23400RM</p>
    <p>Commonly purchased with: </p>
    <a href="{{ url_for('pilot_location_light') }}" class="btn btn-outline mt20">Pilot Location Light</a> 

    <div class="container flex-row space-between">

        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">

    </div>
    

    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Tested and certified by US Coast Guard accepted independent laboratory. </li>
          <li>Steady mode visibility exceeds 3 nautical miles. </li>
          <li>Flashing light travels 2 nautical miles. </li>
          <li>It comes standard with mounting magnets (70 lb. pull strength). </li>
          <li>Steady mode will last 30 days using four 6-volt batteries. </li>
          <li>Flash mode will last 120 days using four 6-volt batteries. </li>
          <li>Steady on mode is available in red, green, and clear colors. </li>
          <li>Flash mode is available in amber. </li>   
          <li>Available with optional Pilot Location Light attachment for the amber barge light.</li>       
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

