{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">



  <section class="mt50">
    
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/marine/dredge_light/DredgeLightClear.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/dredge_light/Model100DredgeLightAmber.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/dredge_light/Model100DredgeLightClear.jpg" />
            </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
        </li>

    </section>



  <section class="text-right">
    <div class="container mt0">
        
        <h1 class="product-description mb60">Product Description</h1>
            
      
    <p class="model"> Dredge Light</p>
    <p class="part-number">Part # 98-17400L</p>
    
    <div class="container flex-row space-between">
        
        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">
    </div>
    

    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Tested and certified by US Coast Guard accepted independent laboratory. </li>
          <li>LEDs last 10,000 hours. </li>
          <li>Steady burn light travels 2 nautical miles for up to 21 days. </li>
          <li>Flashing light travels 2 nautical miles for up to 60 days. </li>
          <li>Solid state circuitry turns light on at dusk and off at day-break. </li>
          <li>Steady mode is available in red, green, and clear. </li>
          <li>Flash mode is available in amber. </li>
          <li> In steady mode the battery will last 20-25 days. </li>
          <li>Flash mode will last 60 days. </li>
          <li>Available with optional magnetic base. </li>          
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

