{% extends 'base.html' %}


{% block content %}
<div class="grid bg-default">



  <section class="mt50">
    
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
        <div class="slide">
          <img src="/static/marine/solar_dredge_light/Model100SolarDredgeLightClear.jpg" />
            </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
              <img src="/static/marine/solar_dredge_light/SolarDredgeLightClear1.jpg" />
            </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
        </li>




    </section>



  <section class="text-right">
    <div class="container mt0">
        
        <h1 class="product-description mb60">Product Description</h1>
            
      
    <p class="model"> Model 100 Solar Dredge Light</p>
    <p class="part-number"></p>
    
    <div class="container flex-row space-between">
        
        <img class="mr50" src="/static/made-in-america-02.png" height="15%" width="15%">
    </div>
    

    <p class="specification">Specification:</p>
      
        <ul class="specifications">
          <li>Tested and certified by US Coast Guard accepted independent laboratory. </li>
          <li>LEDs last 10,000 hours. </li>
          <li>Steady burn light travels 2 nautical miles for up to 21 days. </li>
          <li>Flashing light travels 2 nautical miles for up to 60 days. </li>
          <li>Solid state circuitry turns light on at dusk and off at day-break. </li>
          
          <li>Available in red, clear, and amber. </li>
          <li>Lasts 7 days in between charges. </li> 
          <li>Rechargeable battery should last 2-3 years depending on moisture corrosion. </li>
          <li>Available with magnetic base, 2” threaded pipe attachment, or a flat base attachment. </li>
          
        </ul>
    </div>
  </section>


</div>


{% endblock content %}

